.event {
  position: relative;
  .timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 100px;
    border: 2px solid #90d23d;
    border-radius: 20px;
    margin: 30px;

    .counter {
      font-size: 130px;
      font-weight: 100;
      position: relative;

    }
    .timer-dots:after{
      content: ':';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 120%;
      right: 0;
      bottom: 0;
    }
  }
  padding-bottom: 350px;
  &-icons{
    .icons{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      &:nth-child(1){
        left: -120px;
        bottom: -50px;
        z-index: 7;
      }
      &:nth-child(2){
        left: 0;
        bottom: -35px;
        z-index: 6;
      }
      &:nth-child(3){
        left: 120px;
        bottom: -20px;
        z-index: 5;
      }
      &:nth-child(4){
        left: 240px;
        bottom: -5px;
        z-index: 4;
      }
      &:nth-child(5){
        left: 360px;
        bottom: 10px;
        z-index: 3;
      }
    }
  }
  &-details{
    font-family: 'Roboto', sans-serif;
    color: #242424;
    padding-right: 550px;
    text-align: justify;
    padding-top: 55px;
    h4 {
      text-transform: capitalize;
      font-weight: 800;
      font-size: 50px;
      margin-bottom: 25px;
    }
    p {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 14px;
      span{
        font-weight: 500;
      }
    }
  }
}
